@charset "UTF-8";

.aa{
	border: 0px solid;
	height: 150px;
	width: 2000px;
	margin: 0px 0px 0px 0px;
}
.denglu{
	border: 0px solid;
	height:50px;
	width:50px;
	margin:-150px 0px 0px 700px;
}
.footer{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:400px 0px 0px 200px;
}
.litter{
	border: 0px solid;
	height:50px;
	width:700px;
	margin:0px 0px 0px 200px;
}
.bb{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:-70px 0px 0px 500px;
}
.cc{
	border: 0px solid;
	height:200px;
	width:1000px;
	margin:100px 100px 0px 150px;	
}
.dd{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:-200px 0px 0px 1000px;
}
.ee{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:400px 0px 0px 1000px;
}
.fatie{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:450px 0px 0px 500px;
}