@charset "UTF-8";


.aa{
	border: 0px solid;
	height: 150px;
	width: 2000px;
	margin: 0px 0px 0px 0px;
}
.denglu{
	border: 0px solid;
	height:50px;
	width:50px;
	margin:-150px 0px 0px 700px;
}
.footer{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:400px 0px 0px 200px;
}
.litter{
	border: 0px solid;
	height:50px;
	width:700px;
	margin:200px 0px 0px 900px;
}
.bb{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:-20px 0px 0px 400px;
}
.cc{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:0px 0px 0px 20px;
}
.dd{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:50px 0px 0px 150px;
}
.ee{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:200px 0px 0px 70px;
}
.ff{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:30px 0px 0px 70px;
}
.gg{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:50px 0px 0px 10px;
}

.biaoone{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:50px 0px 0px 50px;
}
.fatie{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:-170px 0px 0px 350px;
}
.fatie2{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:250px 0px 0px 350px;
}
.pingone{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:-250px 0px 0px 350px;
}
.pingtwo{
	border: 0px solid;
	height:20px;
	width:1000px;
	margin:300px 0px 0px 350px;
}
.ii{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:-370px 0px 0px 700px;
}
.jj{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:100px 0px 0px 700px;
}
.biaotwo{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:200px 0px 0px 50px;
}
.biaothree{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:200px 0px 0px 200px;
}
.hh{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:0px 0px 0px 0px;
}
.ll{
	border: 0px solid;
	height:50px;
	width:500px;
	margin:-1100px 0px 0px 900px;
	
}
.kk{
	border: 0px solid;
	height:50px;
	width:250px;
	margin:200px 0px 0px 900px;
}
.ww{
	border: 0px solid;
	height:50px;
	width:350px;
	margin:400px 0px 0px 900px;
}
.qq{
	border: 0px solid;
	height:50px;
	width:350px;
	margin:100px 0px 0px 450px;
}